
<div *ngIf='true' class="Hire">
  <div class="row">
    <div  class="col-mid-6">
      <ul class="list-group"> <h2> |~~ CVs ~~| </h2>
        <li class="list-group-item tt" *ngFor="let list of theCVlist;let indice=index">
          <img src="{{list.image}}">
          {{list.Name}}
          {{list.FirstName}} /
          {{list.Occupation}}
          <button class="btn btn-primary" (click)="push(indice)" >Embaucher</button>
        </li>
      </ul>
    </div>
    <div class="col-mid-6">
      <ul class="list-group" > <h2> |~~ Hired CVs ~~| </h2>
        <li class="list-group-item tt" *ngFor="let list of theHireList;let i=index">
          <img src="{{list.image}}">
          {{list.Name}}
          {{list.FirstName}}
          {{list.Occupation}}
          ✔️ | <button (click)="goLink(i)">👁</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="false" class="inputStyle">
  <input [(ngModel)]="Try" type="text" class="form-control">
  <button (click)='try()'
  [disabled]='!Try.trim().length'
  class="btn btn-success">Acces</button>
</div>

<button *ngIf="false" (click)="goTO()" class="btn btn-primary">go to ngIf Compenent</button>

<router-outlet></router-outlet>
