<p *ngIf=false>Don't remove me PLEASE 😧 </p>
<br>
<button *ngIf=false (click)="remove()" >Click Me !</button>
<br>
<img *ngIf=false src="{{theurl|defaultImage}}">

<input type="text" [(ngModel)]="thevalue">
<input type="number" [(ngModel)]="NewValue" >
<br>
<button (click)="Push(thevalue)" >Add</button>
<button (click)="Delete(NewValue)" >Remove</button>
<button (click)="Show()" >Show the Todo List</button>
<br>
<ol *ngIf='theBool' >
  <li *ngFor="let list of Valeur" >
    {{list}}
  </li>
</ol>


