<form #theForm = "ngForm">
  <input
  type="text"
  ngModel
  required
  email
  #FirstInput='ngModel'
  name="email-Input"
  class="form-control"
  placeholder="Email"
  >
  <div class="alert alert-danger" *ngIf='FirstInput.invalid && FirstInput.touched' >
    ❗ Veuillez mettre un email correcte
  </div>
  <br>
  <input
  type="password"
  ngModel
  required
  #SecondInput="ngModel"
  name="password-Input"
  class="form-control"
  placeholder="Password"
  minlength=6
  >
  <div class="alert alert-danger" *ngIf='SecondInput.touched && SecondInput.invalid' >
    ❗ Veuillez saisir 6 caractères ou plus
  </div>
  <br>
  <button [disabled]="theForm.invalid" class="btn-success" >Log In</button>
</form>
