<form #theForm = "ngForm">
  <div
    ngModelGroup="dataLogin"
    #dataLogin = "ngModelGroup"
  >
    <input
    type="text"
    ngModel
    required
    email
    #FirstInput='ngModel'
    name="email-Input"
    class="form-control"
    placeholder="Email"
    >
    <br>
    <input
    type="password"
    ngModel
    required
    #SecondInput="ngModel"
    name="password-Input"
    class="form-control"
    placeholder="Password"
    minlength=6
    >
    <br>
  </div>
  <div *ngIf='dataLogin.invalid && dataLogin.touched' class="alert alert-danger">l'Email ou le Mot de Passe est Incorecte , Veuillez réessayer</div>
  <button [disabled]="theForm.invalid" class="btn-success" >Log In</button>
</form>
