<h1>Register</h1>
<form #RegisterForm="ngForm">

  <h3>>Informations</h3> : <br>

  >Nom :
  <input type="text"
    required
    pattern
    ngModel
    name="Name"
    #NameInput="ngModel"
    placeholder="Veuiller saissir votre Nom"
    class="form-control">

    >Prénom :
    <input type="text"
    required
    pattern
    ngModel
    name="First Name"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir votre Prénom"
    class="form-control">

    >Job :
    <input type="text"
    required
    pattern
    ngModel
    name="Job"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir votre Job"
    class="form-control">

    >Age:
    <input type="number"
    required
    pattern
    ngModel
    name="Age"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir votre Age"
    class="form-control">

    >CIN:
    <input type="number"
    required
    pattern
    ngModel
    name="CIN"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir votre CIN"
    class="form-control">

    >Path (Image):
    <input type="text"
    ngModel
    name="Path"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir le Path"
    class="form-control">
    <br>
    <div *ngIf='RegisterForm.invalid && RegisterForm.touched' class="alert alert-danger">L'un de vos Informations est Incorecte ! Veuillez configurer vos Informations</div>
<button [disabled]="RegisterForm.invalid && RegisterForm.untouched" (click)="addNewPerson(RegisterForm.value)" class="btn btn-primary">Register</button>
</form>
