<h1>Register</h1>
<form #RegisterForm="ngForm">
  <div
    ngModelGroup="RegistrationData"
    #regisData="ngModelGroup"
  >
    Email :
    <input type="text"
    email
    required
    [(ngModel)]="First"
    name="Email"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir votre Email"
    class="form-control">

    Confirmation d'Email :
    <input type="text"
    email
    required
    [(ngModel)]="Second"
    name="EmailConfirm"
    #EmailConfirmInput="ngModel"
    placeholder="Veuiller confirmer votre Email"
    class="form-control">

    Mot de Passe :
    <input type="password"
    required
    pattern
    ngModel
    name="Password"
    #PasswordInput="ngModel"
    placeholder="Veuillez saisir votre Mot de Passe"
    minlength=6
    maxlength=16
    class="form-control">
    <br>
    <div *ngIf="regisData.invalid && regisData.touched " class="alert alert-danger">L'un de vos Informations est Incorecte ! Veuillez configurer vos Informations .</div>
  </div>
  <br>
  <div
  ngModelGroup="UserData"
  #UserData="ngModelGroup"
  >
  Informations : <br>

  Nom :
  <input type="text"
    required
    pattern
    ngModel
    name="Name"
    #NameInput="ngModel"
    placeholder="Veuiller saissir votre Nom"
    class="form-control">

    Prénom :
    <input type="text"
    required
    pattern
    ngModel
    name="First Name"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir votre Prénom"
    class="form-control">

    Profession :
    <input type="text"
    required
    pattern
    ngModel
    name="Profession"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir votre Profession"
    class="form-control">

    Image :
    <input type="text"
    ngModel
    name="Image"
    #EmailInput="ngModel"
    placeholder="Veuiller saissir l'URL de votre Image"
    class="form-control">
    <br>
    <div *ngIf='UserData.invalid && UserData.touched' class="alert alert-danger">L'un de vos Informations est Incorecte ! Veuillez configurer vos Informations</div>
</div>
<button [disabled]="UserData.invalid && UserData.untouched && regisData.invalid && regisData.untouched" (click)="Add()" class="btn btn-primary">Register</button>
</form>
